<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Music App</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
        <!-- Navigation Bar -->
        {% include 'utils/nav.html' %}
        <!-- End Navigation Bar -->

    <body>
    <div id="box">
    {% block content %}
    {% endblock %}
      <!-- Footer -->
  
      <footer>
        <div>&copy;SoftUni Team 2024. All rights reserved.</div>
      </footer>
      <!-- End Footer -->
    </div>
  </body>
</html>
