h1 {
    color: red;
}

#main-title {
    color: blue;
}

p {
    font-size: 18px;
}

.highlight {
    background-color: aqua;
}

li {
    list-style: circle;
}

#special {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
}
