.flex-container {
    max-width: 400px;
    border: 2px solid blue;
    padding: 2em;
    display: flex;
}

.flex-item {
    background-color: #eee;
    border: 1px solid black;
    padding: 1em;
}

.flex-container.flex-direction-row {
    flex-direction: row;
}

.flex-container.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-container.flex-direction-column {
    flex-direction: column;
}

.flex-container.flex-direction-column-reverse {
    flex-direction: column-reverse;
}